<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', path='main.css') }}">
</head>
<body>
    <div class="center">
        <h2>Welcome to my site</h2>
        <h3>Currently under construction, here is what's available:</h3>
        <ul>
            <li><a href="/yinsh">YINSH</a> | An abstract strategy game | Frontend in JavaScript, backend in Python</li>
            <li><a href="/calculators">Calculators</a> | Compound interest calculator and a FIRE calculator</li>
        </ul>
    </div>
</body>