<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('supercow-static', path='main.css') }}">
</head>
<body>
    <div class="center" id="container">
        <h3>What is this?</h3>
        <p>Upload an image and it will be classified as either Super Cow, a regular cow, or something else.</p>
        <h3>How does it work?</h3>
        <p>I used a simple neural network trained on a custom image dataset containing ~2000 images of random objects, lots of cows, and a handful of pictures of Super Cow.</p>
        <input type="file" id="image-upload" name="image-upload">
        <input type="button" id="image-submit" name="image-submit" value="Submit">
        <br><br>
        <h2 id="class-desc" class="title-case"></h2>
    </div>
</body>
<script type="text/javascript" src="{{ url_for('supercow-static', path='index.js') }}"></script>